variables:
  CUSTOM_BUILD_IMAGE_EXTRA_ARGS: >
    --build-arg VITE_CONTAINER_TAG=${LILYPAD_NAMESPACE}.name
    --build-arg VITE_CONTAINER_DESC=${LILYPAD_NAMESPACE}.desc
    --build-arg VITE_CONTAINER_ICON=${LILYPAD_NAMESPACE}.icon
    --build-arg VITE_LAUNCH_URL=${LILYPAD_NAMESPACE}.url

stages:
  - lint
  - build

include:
  - project: "harlaw/gitlab/templates"
    file:
      - "/_bundle/all.yml"
